@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .transform-preserve{
        transform-style: preserve-3d;
    }
    .rotate-y-180{
        transform: rotateY(180deg);
    }
    .backface-hidden{
        backface-visibility: hidden;
    }
}